<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="tune_store_voorbeeld.Properties.Settings.testConnectionString"
            connectionString="Data Source=|DataDirectory|\test.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>